<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-hungry="{{hungry}}">
		{{#if true}}Devour me!{{else}}Full{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
