<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-hungry="{{hungry}}">
		{{#if hungry}}I'm hungry!{{else}}Dinner Time!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
